/**
 *  分页样式(借鉴于jquery插件库一款分页插件样式)
 *
 * @author  fangjiang
 */

.page {
  position: relative
}

.page .pagination {
  height: 30px;
  color: #25bb9b;
  text-align: center;
  font-size: 12px;
}

.page .pagination .forbid-btn {
  cursor: not-allowed !important;
  color: #dcdcdc !important;
  background-color: #fafafa !important;
  border-color: #ddd !important;
}

.page .pagination,
.page .pagination ul,
.page .pagination ul li,
.page .pagination .page-to input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.page .pagination ul {
  float: left;
  height: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

.page .pagination ul li {
  display: inline-block;
  min-width: 30px;
  padding: 0 10px;
  height: 30px;
  line-height: 28px;
  margin-left: 10px;
  color: #25bb9b;
  border: 1px solid #25bb9b;
  cursor: pointer;
  vertical-align: top
}

.page .pagination ul li:first-child {
  margin-left: 0
}

.page .pagination ul li.current-page {
  background-color: #25bb9b;
  color: #fff;
  border: 0;
  line-height: 30px
}

.page .pagination ul li:hover {
  background-color: #25bb9b;
  color: #fff
}

.page .pagination a.prev-page,
.page .pagination a.next-page {
  display: block;
  float: left;
  width: 60px;
  height: 30px;
  line-height: 28px;
  background-color: #fafafa;
  border: 1px solid #25bb9b;
  cursor: pointer;
  vertical-align: middle;
  color: #25bb9b;
  text-decoration: none;
}

.page .pagination a.prev-page {
  margin-right: 10px
}

.page .pagination a.next-page {
  margin-left: 10px
}

.page .pagination a.prev-page:hover,
.page .pagination a.next-page:hover {
  background-color: #25bb9b;
  color: #fff
}

.page .pagination ul li.ellipsis {
  background-color: transparent;
  border: 0;
  line-height: 18px;
  color: #25bb9b !important;
}

.page .pagination .page-to {
  height: 30px;
  line-height: 30px;
  float: left;
  margin-left: 20px
}

.page .pagination .page-to input {
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 28px;
  background-color: #fafafa;
  border: 1px solid #25bb9b;
  vertical-align: middle;
  margin: 0 10px;
  padding: 0 5px
}

.page .pagination .page-to input:focus {
  outline: 0
}

.page .pagination .page-to span {
  vertical-align: middle;
  display: inline-block;
  width: 40px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #25bb9b;
  cursor: pointer;
  margin-left: 10px
}

.page .pagination .page-to span:hover {
  background-color: #25bb9b;
  color: #fff
}
